<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <!--Import Google Icon Font-->
    <link type="text/css" href="../css/material-icons.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./../css/dashboard.css">
  </head>

  <body class="light-blue">
    <nav>
      <div class="nav-wrapper grey darken-4">
        <a href="./../views/dashboard.html" class="brand-logo left" style="padding-left: 10px;">
    	   	<i class="material-icons">home</i>SocialForge</a>
	           	<ul id="nav-mobile" class="right hide-on-med-and-down">
           	      <li><a href="search.html" class="white-text text-darken-4" style="padding-right: 50px;">buscar<i class="material-icons left">search</i></a></li>
	              <li><a href="#!" class="white-text text-darken-4" style="padding-right: 50px;">notificaciones<i class="material-icons left">error</i></a></li>
	              <li><a href="friends.html" class="white-text text-darken-4" style="padding-right: 350px;">amigos<i class="material-icons left">face</i></a></li>
            	  <li><a id="username" class="btn light-blue darken-1" href="./../views/profile.html"><i class="material-icons">account_circle</i></a></li>
                  <li><a id="out" onclick="out()" class="btn red darken-1"> <i class="material-icons right">exit_to_app</i>Log out</a></li>
	           	</ul>            
      </div>
    </nav>
    
    <div class="container-fluid" style="max-height: 112vh;">
      <div class="row" style="margin: 0px">
      	
      	<div class="col s3 light-blue" style="max-height: 112vh;">
        	<div id="myPost" class="grey darken-4 white-text center">
    	        <img id="profilePic" alt="Avatar image" class="responsive-img circle" width="40%">
                <p id="name" style="font-size: 24px;margin: 4%;"></p>                      
                <a href="edit.html" id="config" class="btn red darken-5 grey-text text-darken-4">Editar informacion</a>
            </div>
        </div>
            
         <div class="col s9 light-blue" style="max-height:112vh">
         	<div id="myPost" class="input-field" style="border: 1px solid #212121 ;border-radius: 10px;height: 40vh;padding: 1%;margin-bottom: 2%;margin-top: 2% ">
            	<div class="row">
                	<div class="col s12">
                    	<ul class="tabs grey darken-4">
                        	<li class="tab col s3"><a href="#test1">Photo post</a></li>
                            <li class="tab col s3"><a class="active" href="#test2">Text post</a></li>
                            <li class="tab col s3"><a href="#test3">video post</a></li>
                            <li class="tab col s3"><a href="#test4">audio post</a></li>
                        </ul>
                    </div>
                    
                    <div id="test1" class="col s12">
                    	<form action="#">
                        	<div class="file-field input-field">
	                            <div class="btn grey darken-4">
	                            	<span>Image</span>
	                            	<input type="file" id="image-file" accept="image/*">
	                            </div>
	                            <div class="file-path-wrapper">
	                            	<input class="file-path validate white" type="text" placeholder="Upload one file" style="width: 90%">
	                            </div>
                            </div>
                            <div class="progress grey darken-4" >
                            	<div id="uploadImage"></div>
                            </div>
                        </form>
                        
                        <div style="display: flex">
                        	<textarea class="materialize-textarea white" placeholder="What Are You Thinking?" id="text-image" style="margin-top: 2%;width: 62vw;margin-left: 2%;overflow: auto;border: 1px solid #212121; color: black"></textarea>
                            <a id="sendImage" class="btn right grey darken-4" style="height: 45px;padding-bottom: 4.5px;margin-top: 2%;padding-top: 4.5px;margin-left: 2%">post</a>
                        </div>
                    </div>
                        
                    <div id="test2" class="col s12">
                    	<div style="display:flex;height: 90%;">
                        	<div><textarea class="materialize-textarea white" placeholder="What Are You Thinking?" id="text-post" style="margin-top: 2%;width: 68vw;margin-left: 2%;overflow: auto;height: 110px;border: 1px solid #212121; border-radius: 10px; color: black">
                        	</textarea></div>
                        </div>
                        <a id="send" class="btn right grey darken-4" style="margin: 0.5%;height: 45px;padding-bottom: 4.5px;padding-top: 4.5px; margin-right: 3%;">post</a>
                    </div>
                        
                    <div id="test3" class="col s12">
                    	<form action="#">
                        	<div class="file-field input-field">
                            	<div class="btn grey darken-4">
                                	<span>video</span>
                                    <input type="file" id="video-file" accept="video/*">
                                </div>
                                <div class="file-path-wrapper">
                                	<input class="file-path validate white" type="text" placeholder="Upload one file" style="width: 90%">
                                </div>
                            </div>
                            <div class="progress grey darken-4" >
                            	<div id="uploadVideo"></div>
                            </div>
                        </form>
                        <div style="display: flex">
                        	<textarea class="materialize-textarea white" placeholder="What Are You Thinking?" id="text-video" style="margin-top: 2%;width: 62vw;margin-left: 2%;overflow: auto;border: 1px solid #212121; color: black"></textarea>
                            <a id="sendVideo" class="btn right grey darken-4" style="height: 45px;padding-bottom: 4.5px;padding-top: 4.5px;margin-top: 2%;margin-left: 2%">post</a>
                        </div>
                    </div>
                        
                    <div id="test4" class="col s12" style="display: flex ;">
                    	<form action="#">
                        	<div class="file-field input-field">
                            	<div class="btn grey darken-4">
                                	<span>Audio</span>
                                	<input type="file" id="audio-file" accept="audio/*">
                                </div>
                                <div class="file-path-wrapper">
                                	<input class="file-path validate white" type="text" placeholder="Upload one file" style="width: 90%">
                                </div>
                            </div>
                            <div class="progress grey darken-4" >
                            	<div id="uploadAudio"></div>
                            </div>
                        </form>
                        
                        <div style="display: flex">
                        	<textarea class="materialize-textarea white" placeholder="What Are You Thinking?" id="text-audio" style="margin-top: 2%;width: 62vw;margin-left: 2%;overflow: auto;border: 1px solid #212121; color: black"></textarea>
							<a id="sendAudio" class="btn right grey darken-4" style="height: 45px;padding-bottom: 4.5px;margin-top: 2%;padding-top: 4.5px;margin-left: 2%">post</a>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div id="feed" class="grey darken-4 col s12 row" style="border: 1px solid #212121; border-radius: 5px;max-height:65vh;overflow: auto;height: 63vh;">
<!--                  <div class="input-field red" style="border: 1px solid #212121 ;border-radius: 10px;height:auto ;padding: 1%;margin-bottom: 2%;margin-top: 2% ">
                        <div style="display:flex">
                            <div style="width: 12%;height: 30%;">
                                <img src="./.././assets/users/eabs/vlcsnap-error237.png" alt="no cargo" class="responsive-img circle" width="90%" height="80%">
                                <p>hace mucho tiempo</p>                      
                            </div>
                            <div >
                              <div style="display:flex">
                                <h5 class="user">emlio</h5><span style="padding-top: 22%;">@eas</span>
                              </div>
                              <p>asdasd</p>

                            </div>
                        </div>
                        <div class="divider grey darken-4"></div>
                        <div style="margin: 1%">
                          <img class="materialboxed" src="./..\SocialForge\assets\users\eabs\Build.png" alt="asd" width="20%" height="30%" style="margin-left:40%">
                        </div>
                        <div class="divider grey darken-4" style="margin-bottom: 1%"></div>
                        <div class="grey darken-4 col s12 row" style="border: 1px solid #212121; border-radius: 5px;max-height:25vh;overflow: auto;height: 25vh;">
                            <textarea class="materialize-textarea white" placeholder="comenta algo" name="" id="text-coment" cols="30" rows="10" style="width: 60vw;margin-left: 2%;overflow: auto;height: 60px;border: 1px solid #212121; border-radius: 10px; color: black"></textarea>
                          <div style="display: flex">
                            <h6 style="padding-top: .5%;margin-right: 2%;color:white">emilio:</h6>
                            <p class="white" style="border-radius: 5px;padding: .5%">asda</p>

                          </div>
                          </div>
                          <a href="" class="btn grey darken-4 " style="width: 50%;">like</a>
                          <a href="" class="btn right grey darken-4" style="width: 50%;">comments</a>
                    </div>
   
                    <div class="input-field red" style="border: 1px solid #212121 ;border-radius: 10px;height:auto ;padding: 1%;margin-bottom: 2%;margin-top: 2% ">
                        <div>
                            <img src="avatar.png" alt="" class="responsive-img circle" width="10%" height="10%">
                            <div style="display: inline-flex; height: 10%;"><p>asdasd</p></div>
                            <p>hace mucho tiempo</p>
                        </div>
                        <div class="divider grey darken-4"></div>
                        <div style="margin: 1%;align-content: center">
                          <audio src="test.mp3"style="margin-left:25%;width:50%"  controls></audio>
                        </div>
                        <div class="divider grey darken-4" style="margin-bottom: 1%"></div>
                          <a href="" class="btn grey darken-4 " style="width: 50%;">like</a>
                          <a href="" class="btn right grey darken-4" style="width: 50%;">comments</a>
                    </div>
                    <div class="input-field red" style="border: 1px solid #212121 ;border-radius: 10px;height:auto ;padding: 1%;margin-bottom: 2%;margin-top: 2% ">
                        <div>
                            <img src="avatar.png" alt="" class="responsive-img circle" width="10%" height="10%">
                            <div style="display: inline-flex; height: 10%;"><p>asdasd</p></div>
                            <p>hace mucho tiempo</p>
                        </div>
                        <div class="divider grey darken-4"></div>
                        <div style="margin: 1%">
                            <video class="responsive-video" width="55%" height="65%" style="margin-left:25%" controls>
                                <source src="O_P 001.mp4" type="video/mp4">
                              </video>                        
                            </div>
                        <div class="divider grey darken-4" style="margin-bottom: 1%"></div>
                          <a href="" class="btn grey darken-4 " style="width: 50%;">like</a>
                          <a href="" class="btn right grey darken-4" style="width: 50%;">comments</a>
                    </div>      
               -->
                                       
                </div>
            </div>
        </div>
    </div>
    
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/dashboard.js"></script>
    <script>
    	var el = document.querySelectorAll('.tabs');
  		var instance = M.Tabs.init(el, {});
  		document.addEventListener('DOMContentLoaded', function() {
    		var elems = document.querySelectorAll('.materialboxed');
    		var instances = M.Materialbox.init(elems, {});
  		});
    </script>
  </body>
</html>                              